@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

:root {
  --main-color: #ffffff;
  --border-color: #c4c4c4;
  --point-color: #21bf48;
  --font-color: #767676;
  --error-color: #eb5757;
}

* {
  font-family: "SpoqaHanSansNeo-Regular";
}

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  line-height: 2.003rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
