body {
  height: 90vh;
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.003rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "img h1 h1"
    "img p p"
    "img btn1 btn2";
}

img {
  grid-area: img;
  width: 27.6rem;
  height: 23.6rem;
  margin-right: 5rem;
}

h1 {
  grid-area: h1;
  font-size: 3.6rem;
  line-height: 4.4rem;
  margin: 0;
}

p {
  margin: 0;
  grid-area: p;
  color: var(--font-color);
}

button {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  width: 20rem;
  height: 6rem;
  margin-right: 1.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border-color);
  cursor: pointer;
}

.mainBtn {
  grid-area: btn1;
  color: var(--main-color);
  background-color: var(--point-color);
  text-decoration: none;
}

.backBtn {
  color: var(--font-color);
  background-color: var(--main-color);
  grid-area: btn2;
}

@media screen and (max-width: 770px) {
  main {
    grid-template-areas:
      "img img"
      "h1 h1"
      " p p"
      " btn1 btn2";

    gap: 2rem;
    column-gap: 0;
  }
  h1 {
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
  button {
    width: 17rem;
    margin-right: 0.5rem;
  }
}
