body {
  max-width: 192rem;
  margin: auto;

  font-size: 1.8rem;
  line-height: 2.254rem;
  display: flex;
  flex-direction: column;
}

header {
  height: 9rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--main-color);
  box-shadow: 0 0.4rem 0.5rem 0 #0000001a;
}

.search-wrap {
  display: flex;
  gap: 3rem;
  width: 82.4rem;
}

h1 img {
  width: 12.4rem;
  height: 3.8rem;
  transform: translateY(0.7rem);
}

form {
  position: relative;
  width: 100%;
  max-width: 40rem;
  min-width: 10rem;
}

#search {
  font-size: 1.6rem;
  width: 100%;
  height: 4.6rem;
  border-radius: 5rem;
  border: var(--point-color) 0.2rem solid;
  outline: none;
  text-indent: 2.2rem;
}

.searchBtn {
  padding: 0;
  position: absolute;
  right: 1.5rem;
  top: 1.1rem;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
}

.btn-wrap ul {
  display: flex;
  gap: 4.7rem;
}
.cartBtn,
.myPageBtn,
.loginBtn {
  min-width: 6.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;

  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--font-color);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* 장바구니, 로그인, 마이페이지 버튼 hover시 이미지 변경 추가 */
.cartBtn::before,
.loginBtn::before,
.myPageBtn::before {
  content: "";
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  position: relative;
  top: 0;
  left: 0;
}

.cartBtn::before {
  background-image: url(../assets/icon-shopping-cart.svg);
  left: -0.25rem;
}

.cartBtn:hover::before {
  background-image: url(../assets/icon-shopping-cart-2.svg);
}

.loginBtn::before,
.myPageBtn::before {
  background-image: url(../assets/icon-user.svg);
}

.loginBtn:hover::before,
.myPageBtn:hover::before {
  background-image: url(../assets/icon-user-2.svg);
}

/* main */

main {
  padding: 8rem 32rem;

  /* 상세내용, 메뉴바 레이아웃 적용 */
  display: flex;
  flex-direction: column;
  gap: 14rem;
}

/* 이미지, 상세내용 레이아웃 적용 */
.buy-wrap {
  display: flex;
  gap: 5rem;

  img {
    width: 60rem;
    height: 60rem;
  }
}

.goodsInfo {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 13.8rem;

  p:first-of-type {
    color: var(--font-color);
  }
}

.goodsInfo h3,
.price span {
  font-size: 3.6rem;
  line-height: 4.507rem;
}

.price span {
  height: 11.7rem;
  font-weight: 700;
}

.goodsInfo-wrap {
  p:first-of-type {
    font-size: 1.6rem;
    line-height: 2.003rem;
    color: var(--font-color);
  }

  input {
    width: 15rem;
    height: 5rem;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
    border: solid 0.1rem var(--border-color);
    border-radius: 0.5rem;
  }

  ul {
    margin-top: 4.6rem;
    display: flex;
    justify-content: space-between;
  }
}

hr:not(footer hr) {
  min-width: 63rem;
  border: 0.2rem solid var(--border-color);
  margin: 2rem 0;
}

/* input태그(number type) 기본 버튼 삭제 */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:disabled {
  background-color: var(--main-color);
}

/* 수량 입력 버튼 (minus, plus) */
.minus,
.plus {
  background-color: #ffffff1a;
  border: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;

  position: absolute;
  top: 1rem;
}

.minus img,
.plus img {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.7rem;
  left: 1.5rem;
}

.minus {
  border-right: solid 0.1rem var(--border-color);
}

.plus {
  border-left: solid 0.1rem var(--border-color);
  left: 10rem;
}

.plusDisabled {
  width: 5.05rem;
  height: 5.05rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #e0e0e0;
}

/* total 상품 수량, 금액 확인 부분 css */
.priceInfo {
  display: flex;
  gap: 1rem;

  p:first-of-type {
    font-size: 1.8rem;
    line-height: 2.254rem;
  }
  p:first-of-type span,
  p:last-of-type {
     {
      color: var(--point-color);
    }
  }

  p:first-of-type::after {
    content: "|";
    margin-left: 1rem;
    color: var(--border-color);
  }

  p:last-of-type {
    position: relative;
    top: -1.8rem;

    span {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.507rem;
    }
  }
}

/* 바로구매, 장바구니 버튼 */
.buyBtns {
  display: flex;
  gap: 1.4rem;

  button {
    height: 6rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--main-color);
    cursor: pointer;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.2rem;
  }

  button:first-of-type {
    min-width: 41.6rem;
    background-color: var(--point-color);
  }

  button:last-of-type {
    min-width: 20rem;
    background-color: var(--font-color);
  }

  /* 판매자는 바로구매, 장바구니 버튼이 disabled  */
  button:first-of-type:disabled,
  button:last-of-type:disabled {
    background-color: var(--border-color);
    cursor: not-allowed;
  }
}

/* 메뉴바 */
.menubar {
  ul {
    display: flex;
  }

  button {
    width: 32rem;
    height: 6rem;

    background-color: var(--main-color);
    border: none;
    border-bottom: 0.6rem solid #e0e0e0;
    cursor: pointer;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.254rem;
    color: var(--font-color);
  }

  button:focus {
    border-bottom: 0.6rem solid var(--point-color);
  }
}

/* 모달창 */
.loginModal {
  width: 38rem;
  height: 20rem;
  padding: 5rem 7.5rem 4rem 7.5rem;
  box-sizing: border-box;
  border: solid 0.1rem var(--border-color);
  text-align: center;
  overflow: hidden;

  font-size: 1.6rem;
  line-height: 2.003rem;

  p {
    width: 20.3rem;
    margin-bottom: 3rem;
  }
}

.closeModal {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  border: none;
  background: none;
  cursor: pointer;

  img {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.noBtn,
.yesBtn {
  font-size: inherit;
  padding: 0;
  width: 10rem;
  height: 4rem;
  border: solid 0.1rem var(--border-color);
  cursor: pointer;
  border-radius: 0.5rem;
}

.noBtn {
  color: var(--font-color);
  background-color: var(--main-color);
}

.yesBtn {
  color: var(--main-color);
  background-color: var(--point-color);
}

footer {
  font-size: 1.4rem;
  font-family: "SpoqaHanSansNeo-Regular";
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #f2f2f2;

  nav {
    width: 100%;
    max-width: 128rem;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 1.4rem;
      white-space: nowrap;
    }

    ul:first-of-type {
      li:nth-of-type(3) {
        font-weight: 700;
      }
      li::after {
        content: "|";
        position: relative;
        margin-left: 1.4rem;
      }
      li:last-of-type::after {
        content: "";
      }
    }
  }
}

hr {
  width: 99%;
  max-width: 128rem;
  height: 0;
  margin: 3rem 0;
}

address {
  width: 100%;
  max-width: 128rem;
  min-width: 32.1rem;
  color: var(--font-color);
  line-height: 2.4rem;

  span {
    font-weight: 700;
  }
}

/* 판매자센터 버튼 */
.sellerCenter button {
  width: 16.8rem;
  height: 5.4rem;
  font-size: 1.8rem;
  line-height: 2.254rem;

  border-radius: 0.5rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;

  color: var(--main-color);
  border: none;
  background-color: var(--point-color);
  cursor: pointer;
}

/* 마이페이지 버튼 모달 */

/* 마이페이지로 position 고정 */
.myPage {
  position: relative;
}

.myPageModal {
  position: absolute;
  top: 6rem;
  left: -3rem;
  z-index: 200;

  width: 13rem;
  height: 11.8rem;
  box-sizing: border-box;
  padding: 1rem;

  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 25%);

  button {
    width: 11rem;
    height: 4rem;
    margin-bottom: 0.8rem;

    border-radius: 0.5rem;
    border: none;
    background-color: var(--main-color);
    color: var(--font-color);
    cursor: pointer;
  }

  button:hover {
    border: var(--font-color) solid 0.1rem;
    color: #000;
  }
}

.myPageModal::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%);

  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 0.8rem solid var(--main-color);

  filter: drop-shadow(0 -0.2rem 0.2rem rgba(0, 0, 0, 0.1));
}

@media screen and (max-width: 780px) {
  .btn-wrap ul {
    gap: 0rem;
  }
  .search-wrap {
    gap: 1rem;
  }

  footer {
    nav {
      flex-wrap: wrap;
      gap: 2rem;

      ul:first-of-type {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  #search::placeholder {
    color: #fff;
  }
}
