@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 10px;
}

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
}
