body {
  margin: auto;
  font-size: 1.6rem;
  line-height: 2.003rem;
  display: flex;
  flex-direction: column;
  main {
    max-width: 192rem;
    margin: auto;
  }
}

.search {
  display: flex;
  font-size: 3rem;
  align-items: center;
  margin: 5rem 0;
  justify-content: center;
}

.banner {
  position: relative;
  overflow: hidden;
  /* 배너 내 circle 표시 추후 구현 */
  a img {
    max-width: 100%;
  }
  ul:first-of-type {
    display: flex;
    transition: transform 0.3s ease;
    li {
      min-width: 100%;
    }
  }
}

.leftBtn,
.rightBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  background: none;
  cursor: pointer;
}

.rightBtn {
  right: 0;
}

.goodsList {
  padding: 8rem 10rem 18rem 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  justify-content: center;
}

.more-btn {
  position: relative;
  transform: translate(-50%, -50%);
  bottom: 8rem;
  left: 50%;
  border: var(--point-color) 0.2rem solid;
  border-radius: 5rem;
  font-size: 1.6rem;
  height: 4.6rem;
  width: 100%;
  max-width: 16rem;
}

article a {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  img {
    border-radius: 1rem;
    width: 100%;
    min-width: 30rem;
    max-width: 38rem;
    border: var(--border-color) solid 0.1rem;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  p:first-of-type {
    color: var(--font-color);
  }

  p:last-of-type span {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.005rem;
  }
}

@media screen and (max-width: 780px) {
  .goodsList {
    padding: 8rem 2rem 18rem 2rem;
  }
}
