body {
  font-size: 1.6rem;
  line-height: 2.003rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

h1 {
  width: 23.8rem;
  height: 7.4rem;
  margin: auto;
}

article {
  max-width: 55rem;
  margin: auto;
}

button {
  font-size: 1.8rem;
  line-height: 2.2rem;
  cursor: pointer;
}

.duplicate-check {
  flex-grow: 1;
  font-size: inherit;
  line-height: inherit;
}

.join-btns {
  display: flex;
  justify-content: space-evenly;
  li {
    width: 100%;
    button {
      width: 100%;
      height: 8rem;
      border: var(--input-border);
      background-color: #f2f2f2;
      border-radius: 1rem;
      font-weight: 500;
    }
    .active {
      background-color: var(--main-color);
      position: relative;
      z-index: 100;
      border-bottom: none;
    }
  }
}

.join-form {
  position: relative;
  top: -1rem;
  background-color: var(--main-color);
  padding: 3.5rem;
  border: var(--input-border);
  border-radius: 1rem;
  color: var(--font-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    max-width: 100%;
    height: 5.4rem;
    font-size: inherit;
    border: var(--input-border);
    border-radius: 0.5rem;
    flex-grow: 2;
    text-indent: 1.6rem;
  }

  button {
    height: 5.4rem;
    line-height: 2.2rem;
    background-color: var(--point-color);
    border-radius: 0.5rem;
    color: var(--main-color);
    border: none;
    font-weight: 700;
  }
}

input:focus {
  outline: none;
  border-color: var(--point-color);
}

.passwordCheckMsg {
  margin: 1.5rem 0;
}

.invalid-passwordImg {
  background-image: url(../assets/icon-check-off.svg);
  background-repeat: no-repeat;
  background-position: center right 1rem;
}

.valid-passwordImg {
  background-image: url(../assets/icon-check-on.svg);
  background-repeat: no-repeat;
  background-position: center right 1rem;
}

.id-wrap,
.businessnum-wrap,
.phone-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}

.phone-wrap input {
  width: 100%;
  max-width: 15rem;
  text-indent: 0;
  text-align: center;
}

/* Phone Select Box */
.phone-wrap {
  position: relative;

  .selectBtn {
    width: 15.4rem;
    height: 5.8rem;
    font-size: inherit;
    border: var(--input-border);
    border-radius: 0.5rem;
    background: url("../assets/icon-down-arrow.svg") no-repeat 95% 50%;
    color: #000;
  }

  .selectBtn:focus {
    outline: none;
    border-color: var(--point-color);
  }

  .selected {
    background-image: url("../assets/icon-up-arrow.svg");
  }
}

.optionList {
  display: none;
  width: 15.2rem;
  max-height: 15rem;
  overflow: auto;
  position: absolute;
  top: 6.5rem;

  text-align: center;
  background: #fff;
  z-index: 100;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;

  button {
    width: 100%;
    height: 4rem;
    padding: 0;
    font-size: 1.6rem;
    background-color: var(--main-color);
    color: #000;
  }

  button:hover {
    background-color: #e0e0e0;
  }
}

.optionList::-webkit-scrollbar {
  width: 1.8rem;
}

.optionList::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 1rem;
  border: 6px solid #f2f2f2;
}

.optionList::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

section {
  position: relative;
}

.no-wrap {
  max-width: 46rem;
  position: absolute;
  bottom: -7.4rem;
  display: flex;
}

/* 기본 checkbox 제거 */
.txt-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.checkbox {
  position: relative;
  left: 2.6rem;

  a {
    color: currentColor;
    text-decoration: underline;
    font-weight: 700;
  }
}

.checkbox::before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: -2.5rem;
  top: 0.3rem;
  background-image: url(../assets/check-box.svg);
}

#checkbox:checked + .checkbox::before {
  background-image: url(../assets/check-fill-box.svg);
}

.signup-btn {
  position: absolute;
  bottom: -7.4rem;
  width: calc(100% + 2rem);
}

button:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}

/* valid */
.validColor {
  color: var(--point-color);
}

/* invalid */
.invalidColor {
  color: var(--error-color);
}
input:user-invalid {
  border-color: var(--error-color);
}

/* account type select button : border css */
.join-btns .buyer {
  border-right: none;
  border-left: var(--input-border);
}

.join-btns .seller {
  border-left: none;
  border-right: var(--input-border);
}
