@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #ffffff;
  --border-color: #c4c4c4;
  --point-color: #21bf48;
  --font-color: #767676;
  --error-color: #eb5757;
}

html {
  font-size: 10px;
}
* {
  font-family: "SpoqaHanSansNeo-Regular";
}

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* .seller-only : 사업자등록번호, 스토어 이름 input 요소 포함 */
.seller-only {
  display: none;
}

body {
  font-size: 1.6rem;
  line-height: 2.003rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
/* header */
h1 {
  width: 23.8rem;
  height: 7.4rem;
  margin: auto;
}

/* main */
article {
  max-width: 55rem;
  margin: auto;
}
/* ------main 태그 공통------ */
article ul {
  display: flex;
  justify-content: space-evenly;
}
button {
  font-size: 1.8rem;
  line-height: 2.2rem;
  cursor: pointer;
}

.duplicate-check {
  flex-grow: 1;
  font-size: inherit;
  line-height: inherit;
}

/* main */

.join-btns li {
  width: 100%;
}

.join-btns li button {
  width: 100%;
  height: 8rem;
  border: var(--border-color) 0.1rem solid;
  background-color: #f2f2f2;
  border-radius: 1rem;
  font-weight: 500;
}

.join-btns li .active {
  background-color: var(--main-color);
}

/* form */

.join-form {
  /*.join-btns 와 위치 조정 */
  position: relative;
  top: -1rem;
  background-color: var(--main-color);
  padding: 3.5rem;
  border: var(--border-color) 0.1rem solid;
  border-radius: 1rem;
  color: var(--font-color);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.join-form input,
.phone-wrap select {
  max-width: 100%;
  height: 5.4rem;
  font-size: inherit;
  border: var(--border-color) 0.1rem solid;
  border-radius: 0.5rem;
  flex-grow: 2;
  text-indent: 1.6rem;
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--point-color);
}

.join-form button {
  height: 5.4rem;
  line-height: 2.2rem;
  background-color: var(--point-color);
  border-radius: 0.5rem;
  color: var(--main-color);
  border: none;
  font-weight: 700;
}

#password-recheck {
  margin-bottom: 3rem;
}

/* input 내 이미지 추가 */

.invalid-password {
  background-image: url(../assets/icon-check-off.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 43.6rem;
}

.valid-password {
  background-image: url(../assets/icon-check-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 43.6rem;
}

.id-wrap,
.businessnum-wrap,
.phone-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}

.phone-wrap input {
  max-width: 15rem;
}

.phone-wrap select,
.phone-wrap input {
  text-indent: 0;
  text-align: center;
}

/* ------------------------------- */

/* 이용약관 동의 및 가입하기 */
section {
  position: relative;
}

.no-wrap {
  max-width: 46rem;
  position: absolute;
  bottom: -7.4rem;
  display: flex;
}

/* checkbox 가상요소 스타일 적용 */
/* 기본 체크박스 스타일 삭제 */
.txt-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.checkbox {
  position: relative;
  left: 2.6rem;
}
.checkbox span {
  text-decoration: underline;
  font-weight: 700;
}

/* 체크 안했을 때 */
.checkbox::before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: -2.5rem;
  top: 0.3rem;
  background-image: url(../assets/check-box.svg);
}

/* 체크 했을 때 */
#checkbox:checked + .checkbox::before {
  background-image: url(../assets/check-fill-box.svg);
}

.signup-btn {
  position: absolute;
  bottom: -7.4rem;
  width: calc(100% + 2rem);
}

button:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}
/* ------------------------------- */

/* 회원가입 오류시 적용되는 css */
.passwordInvalid {
  color: var(--error-color);
  position: relative;
  top: -2rem;
}

.invalidColor {
  color: var(--error-color);
}

.validColor {
  color: var(--point-color);
}

.hidden {
  display: none;
}
